body{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

min-height:100vh;   /* ✅ important */
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(-45deg,#ff4d6d,#ff758f,#9b5de5,#5a189a);
background-size:400% 400%;
animation:bg 12s ease infinite;

/* ✅ FIX SCROLL */
overflow-x:hidden;
overflow-y:auto;
}
